<li class="cat" data-id="{{ object.getId() }}">
    <span>
        <i class="icon-folder-open"></i>
        <a class="category" href="{{ admin.generateObjectUrl('edit', object) }}">
             {{ object.getTitle() }}
        </a>
    </span>

    <a title="Edit category" class="btn btn-mini btn-primary" href="{{ admin.generateObjectUrl('edit', object) }}">
        <i class="icon-pencil icon-white"></i>
    </a>

    {% if level < max_depth %}
    <a title="Add child category" class="btn btn-mini btn-primary" href="{{ admin.generateObjectUrl('create', object, { "parent": object.getId() }) }}">
        <i class="icon-plus icon-white"></i>
    </a>
    {% endif %}

    <a title="Reorder category" class="btn btn-mini btn-primary reorder" href="javascript:;">
        <i class="icon-resize-vertical icon-white"></i>
    </a>

    <a title="Remove category" class="btn btn-mini btn-primary" href="{{ admin.generateObjectUrl('delete', object) }}">
        <i class="icon-remove icon-white"></i>
    </a>


    {% if object.hasChildren() %}

    {% set childLevel = level + 1 %}
    <ul class="cat-list">
        {% for child in object.getCategories() %}
            {% include 'TeoProductBundle:Admin:category_item.html.twig' with { "object": child, "level": childLevel } %}
        {% endfor %}
    </ul>

    {% endif %}

    {% if show_products %}
        {% if object.hasProducts() %}
        <ul>
            {% for product in object.getProducts() %}
                {% include 'TeoProductBundle:Admin:category_product.html.twig' %}
            {% endfor %}
        </ul>
        {% endif %}
    {% endif %}
</li>