<li class="cat" id="cat-id-{{ object.getId() }}" data-id="{{ object.getId() }}">
    <span>
        <i class="fa fa-folder"></i>
        <a class="category" href="{{ admin.generateObjectUrl('edit', object) }}">
            {{ object.title() }}
        </a>
    </span>

    <a data-toggle="tooltip" title="Edit category" class="tooltip-trigger btn btn-mini btn-primary" href="{{ admin.generateObjectUrl('edit', object) }}">
        <i class="fa fa-pencil icon-white"></i>
    </a>

    {% if level < max_depth %}
    <a data-toggle="tooltip" title="Add child category" class="tooltip-trigger btn btn-mini btn-primary" href="{{ admin.generateObjectUrl('create', object, { "parent": object.getId() }) }}">
        <i class="fa fa-plus icon-white"></i>
    </a>
    {% endif %}

    <a data-toggle="tooltip" title="Reorder category" class="tooltip-trigger btn btn-mini btn-primary reorder" href="javascript:;">
        <i class="fa fa-arrows-v icon-white"></i>
    </a>

    <a data-toggle="tooltip" title="Remove category" class="tooltip-trigger btn btn-mini btn-primary" href="{{ admin.generateObjectUrl('delete', object) }}">
        <i class="fa fa-times icon-white"></i>
    </a>

    {% if show_products %}
        {% if object.hasProducts() %}
            <a data-toggle="collapse" title="View products" class="tooltip-trigger btn btn-mini btn-primary" data-parent="#cat-id-{{ object.getId() }}" href="#prods-{{ object.getId() }}">
                <i class="fa fa-eye icon-white"></i>
            </a>
        {% endif %}
    {% endif %}

    <a data-toggle="tooltip" title="Create product" class="tooltip-trigger btn btn-mini btn-primary" href="{{ get_service('sonata.admin.product').generateUrl('create', {'parent': object.id}) }}">
        <i class="fa fa-barcode icon-white"></i>
    </a>

    {% if object.hasChildren() %}

    {% set childLevel = level + 1 %}
    <ul class="cat-list">
        {% for child in object.getOrderedCategories() %}
            {% include 'TeoProductBundle:Admin:category_item.html.twig' with { "object": child, "level": childLevel } %}
        {% endfor %}
    </ul>

    {% endif %}

    {% if show_products %}
        {% if object.hasProducts() %}
        <ul class="prod-list collapse" id="prods-{{ object.getId() }}" style="height:0">
            {% for product in object.getOrderedProducts() %}
                {% include 'TeoProductBundle:Admin:category_product.html.twig' %}
            {% endfor %}
        </ul>
        {% endif %}
    {% endif %}
</li>
