{% extends 'SonataAdminBundle:CRUD:base_list.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/teoproduct/css/admin.css') }}">
{% endblock %}

{% block list_table %}
    {% set batchactions = admin.batchactions %}
    {% if admin.datagrid.results|length > 0 %}
        {% if admin.hasRoute('batch') %}
        <form action="{{ admin.generateUrl('batch', {'filter': admin.filterParameters}) }}" method="POST" >
            <input type="hidden" name="_sonata_csrf_token" value="{{ csrf_token }}" />
        {% endif %}
            <table class="table table-bordered table-striped">
                {% block table_header %}
                    <thead>
                        <tr class="sonata-ba-list-field-header">
                            {#
                            {% for field_description in admin.list.elements %}
                                {% if admin.hasRoute('batch') and field_description.getOption('code') == '_batch' and batchactions|length > 0 %}
                                    <th class="sonata-ba-list-field-header sonata-ba-list-field-header-batch">
                                      <input type="checkbox" id="list_batch_checkbox" />
                                    </th>
                                {% elseif field_description.getOption('code') == '_select' %}
                                    <th class="sonata-ba-list-field-header sonata-ba-list-field-header-select"></th>
                                {% elseif field_description.name == '_action' and app.request.isXmlHttpRequest %}

                                {% endif %}
                            {% endfor %}
                            #}
                            <th>{{ 'Categories structure'|trans }}</th>
                        </tr>
                    </thead>
                {% endblock %}

                {% block table_body %}
                    <tbody>
                            <tr>
                                <td>
                                    <ul class="categories-tree cat-list">
                                    {% for object in root_categories %}
                                        {% include 'TeoProductBundle:Admin:category_item.html.twig' with { "object": object, "level": 1 } %}
                                    {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                    </tbody>
                {% endblock %}

                {% block table_footer %}
                {#
                    <tr>
                        <th colspan="{{ admin.list.elements|length - (app.request.isXmlHttpRequest ? (admin.list.has('_action') + admin.list.has('batch')) : 0) }}">
                            <div class="form-inline">
                                {% if not app.request.isXmlHttpRequest %}
                                    {% if admin.hasRoute('batch') and batchactions|length > 0  %}
                                        {% block batch %}
                                            <script type="text/javascript">
                                                {% block batch_javascript %}
                                                    jQuery(document).ready(function ($) {
                                                        $('#list_batch_checkbox').click(function () {
                                                            $(this).closest('table').find("td input[type='checkbox']").attr('checked', $(this).is(':checked')).parent().parent().toggleClass('sonata-ba-list-row-selected', $(this).is(':checked'));
                                                        });
                                                        $("td.sonata-ba-list-field-batch input[type='checkbox']").change(function () {
                                                            $(this).parent().parent().toggleClass('sonata-ba-list-row-selected', $(this).is(':checked'));
                                                        });
                                                    });
                                                {% endblock %}
                                            </script>

                                            {% block batch_actions %}
                                                <label class="checkbox" for="{{ admin.uniqid }}_all_elements">
                                                    <input type="checkbox" name="all_elements" id="{{ admin.uniqid }}_all_elements"/>
                                                    {{ 'all_elements'|trans({}, 'SonataAdminBundle') }}
                                                </label>

                                                <select name="action" style="width: auto; height: auto">
                                                    {% for action, options in batchactions %}
                                                        <option value="{{ action }}">{{ options.label }}</option>
                                                    {% endfor %}
                                                </select>
                                            {% endblock %}
                                        {% endblock %}

                                        <input type="submit" class="btn btn-small btn-primary" value="{{ 'btn_batch'|trans({}, 'SonataAdminBundle') }}"/>
                                    {% endif %}

                                    <div class="pull-right">
                                        {% if admin.hasRoute('export') and admin.isGranted("EXPORT") and admin.getExportFormats()|length %}
                                            {{ "label_export_download"|trans({}, "SonataAdminBundle") }}
                                            {% for format in admin.getExportFormats() %}
                                                <a href="{{ admin.generateUrl('export', admin.modelmanager.paginationparameters(admin.datagrid, 0) + {'format' : format}) }}">{{ format }}</a>{% if not loop.last %},{% endif %}
                                            {% endfor %}

                                            &nbsp;-&nbsp;
                                        {% endif %}

                                        {% block pager_results %}
                                            {% include admin.getTemplate('pager_results') %}
                                        {% endblock %}
                                    </div>
                                {% endif %}
                            </div>
                        </th>
                    </tr>

                    {% block pager_links %}
                        {% if admin.datagrid.pager.haveToPaginate() %}
                            {% include admin.getTemplate('pager_links') %}
                        {% endif %}
                    {% endblock %}

                #}
                {% endblock %}
            </table>
            {% include 'TeoProductBundle:Admin:_category_sortable_js.html.twig' %}
        {% if admin.hasRoute('batch') %}
        </form>
        {% endif %}
    {% else %}
        <p class="notice">
            {{ 'no_result'|trans({}, 'SonataAdminBundle') }}
        </p>
    {% endif %}
{% endblock %}