<li class="prod" data-id="{{ product.getId() }}">
    <small>

        <a class="product" href="{{ get_service('sonata.admin.product').generateUrl('edit', {"id": product.id}) }}">
            {% if product.hasPreview() %}
                <img style="max-width:50px;max-height:50px;" src="{{ product.getPreview().getPath() }}" />
            {% else %}
                <i class="fa fa-barcode"></i>
            {% endif %}
            {{ product.title() }}
        </a>

        <a title="{{ 'Reorder product'|trans }}" class="tooltip-trigger btn btn-mini btn-primary reorder" href="javascript:;">
            <i class="fa fa-arrows-v icon-white"></i>
        </a>
    </small>
</li>
